* {
	margin: 0;
	padding: 0px;
}

body {
	margin: 0 auto;
	padding: 0 25px;
	width: 750px;
}
.items {
	margin-top: 50px;
}

.box {
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: orange;
	position: relative;
	left: 0;
	transition: all 0.5s;
}

.shifted .box{
	left: 50px;
}

.highlighted .box {
	background-color: green;
}

.row {
	margin-top: 10px;
}

.item>div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


